<form #eventForm="ngForm">
  <h1>Submit an Event</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="event.name" name="name"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Summary</mat-label>
    <textarea matInput name="summary"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput name="description"></textarea>
  </mat-form-field>
  <div>
    <input
      #imageFile
      type="file"
      hidden="true"
      (change)="imageChange($event, imageText)"
      accept="image/*"
      name="image"/>
    <button mat-mini-fab (click)="imageFile.click()">Img</button>
    <p #imageText></p>
  </div>
  <mat-form-field>
    <mat-label>Start Time</mat-label>
    <input matInput [matDatepicker]="startPicker" name="startTime">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Time</mat-label>
    <input matInput [matDatepicker]="endPicker" name="endTime">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Big Location</mat-label>
    <input matInput name="bigLocation"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Small Location</mat-label>
    <input matInput name="smallLocation"/>
  </mat-form-field>
  <button mat-button (click)="add()">Add</button>
</form>
